
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
               <div class="list-group">
                  <a href="#" class="list-group-item active">
                     <h4 class="list-group-item-heading">Management students</h4>
                  </a>
                  <a href="{% url 'user-page' %}" class="list-group-item">List all students</a>
                  <a href="{% url 'user-add' %}" class="list-group-item">Add new student</a>
               </div>
            </div>