{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" id="bootstrap-css">
      <script src="{$static 'js/bootstrap.min.js'}"></script>
      <script src="{$static 'js/jquery-1.11.1.min.js'}"></script>
      <!------ Include the above in your HEAD tag ---------->
   </head>
   <body>
      <div class="container">
         <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
               <div class="panel-heading">
                  <div class="panel-title">Sign In</div>
                  <div style="float:right; font-size: 80%; position: relative; top:-10px">
                  </div>
               </div>
               <div style="padding-top:30px" class="panel-body" >
                  {%if error%}
                  <div id="login-alert" class="alert alert-danger col-sm-12">
                     <p>Error:{{error}}</p>
                     <span></span>
                  </div>
                  {%endif%}
                  <form action="{% url 'login-page'%}" method="post" id="loginform" class="form-horizontal" role="form">
                     {% csrf_token %}
                     <div style="margin-bottom: 15px; margin-left:100px" class="input-group">
                        {% for f in form %}
                           <div class="form-group">
                              <label for="email" class="col-md-3 control-label">{{f.label_tag}} </label>
                              <div class="col-md-9">
                                 {{f}}
                              </div>
                           </div>                            
                        {% endfor %}    
                     </div>
                     <div style="margin-top:10px; margin-left:100px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                           <input id="btn-login" href="#" class="btn btn-success" type="submit" value="Login"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-md-12 control">
                           <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                              Don't have an account! 
                              <a href="{% url 'register-page'%}" >
                              Sign Up Here
                              </a>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>